## 讀取資料

In [1]:
import pandas
dfs = pandas.read_html('https://rate.bot.com.tw/xrt/quote/l6m/USD')

In [7]:
df = dfs[0]

In [8]:
df.head()

         掛牌日期                幣別    現金匯率         Unnamed: 5_level_0  \
         掛牌日期      本行買入      幣別    本行賣出    本行買入               本行賣出
0  2019/07/19  美金 (USD)  30.650  31.320  31.000             31.100
1  2019/07/18  美金 (USD)  30.665  31.335  31.015             31.115
2  2019/07/17  美金 (USD)  30.670  31.340  31.020             31.120
3  2019/07/16  美金 (USD)  30.630  31.300  30.980             31.080
4  2019/07/15  美金 (USD)  30.640  31.310  30.990             31.090

                即期匯率                    Unnamed: 8_level_0
  Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1
0                NaN                NaN                NaN
1                NaN                NaN                NaN
2                NaN                NaN                NaN
3                NaN                NaN                NaN
4                NaN                NaN                NaN

## 清理資料

In [9]:
df = df.iloc[:,0:6]

In [10]:
df.head()

         掛牌日期                幣別    現金匯率         Unnamed: 5_level_0
         掛牌日期      本行買入      幣別    本行賣出    本行買入               本行賣出
0  2019/07/19  美金 (USD)  30.650  31.320  31.000             31.100
1  2019/07/18  美金 (USD)  30.665  31.335  31.015             31.115
2  2019/07/17  美金 (USD)  30.670  31.340  31.020             31.120
3  2019/07/16  美金 (USD)  30.630  31.300  30.980             31.080
4  2019/07/15  美金 (USD)  30.640  31.310  30.990             31.090

In [11]:
df.columns = ['掛牌日期', '幣別', '現金匯率-本行買入', '現金匯率-本行賣出', '即期匯率-本行買入','即期匯率-本行賣出']

In [12]:
df.head()

         掛牌日期        幣別  現金匯率-本行買入  現金匯率-本行賣出  即期匯率-本行買入  即期匯率-本行賣出
0  2019/07/19  美金 (USD)     30.650     31.320     31.000     31.100
1  2019/07/18  美金 (USD)     30.665     31.335     31.015     31.115
2  2019/07/17  美金 (USD)     30.670     31.340     31.020     31.120
3  2019/07/16  美金 (USD)     30.630     31.300     30.980     31.080
4  2019/07/15  美金 (USD)     30.640     31.310     30.990     31.090

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
掛牌日期         120 non-null object
幣別           120 non-null object
現金匯率-本行買入    120 non-null float64
現金匯率-本行賣出    120 non-null float64
即期匯率-本行買入    120 non-null float64
即期匯率-本行賣出    120 non-null float64
dtypes: float64(4), object(2)
memory usage: 5.7+ KB

In [14]:
df['掛牌日期'] = pandas.to_datetime(df['掛牌日期'], format= '%Y/%m/%d')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
掛牌日期         120 non-null datetime64[ns]
幣別           120 non-null object
現金匯率-本行買入    120 non-null float64
現金匯率-本行賣出    120 non-null float64
即期匯率-本行買入    120 non-null float64
即期匯率-本行賣出    120 non-null float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 5.7+ KB

In [16]:
df.head()

        掛牌日期        幣別  現金匯率-本行買入  現金匯率-本行賣出  即期匯率-本行買入  即期匯率-本行賣出
0 2019-07-19  美金 (USD)     30.650     31.320     31.000     31.100
1 2019-07-18  美金 (USD)     30.665     31.335     31.015     31.115
2 2019-07-17  美金 (USD)     30.670     31.340     31.020     31.120
3 2019-07-16  美金 (USD)     30.630     31.300     30.980     31.080
4 2019-07-15  美金 (USD)     30.640     31.310     30.990     31.090

## 儲存資料

In [17]:
df.to_excel('rate.xlsx')

In [18]:
df.to_csv('rate.csv')

In [20]:
import sqlite3
with sqlite3.connect('rate.sqlite') as db:
    df.to_sql('rate', con = db , if_exists='replace')

In [22]:
import sqlite3
with sqlite3.connect('rate.sqlite') as db:
    df2 = pandas.read_sql_query('select avg("現金匯率-本行買入") from rate', con = db )
df2

   avg("現金匯率-本行買入")
0         30.602917