## 資料蒐集

In [1]:
import pandas
dfs = pandas.read_html('https://rate.bot.com.tw/xrt/quote/l6m/USD')

In [3]:
df = dfs[0]

## 資料清理

In [6]:
df = df.iloc[:,0:6]

In [7]:
df.columns

MultiIndex(levels=[['Unnamed: 5_level_0', 'Unnamed: 8_level_0', '即期匯率', '幣別', '掛牌日期', '現金匯率'], ['Unnamed: 6_level_1', 'Unnamed: 7_level_1', 'Unnamed: 8_level_1', '幣別', '掛牌日期', '本行買入', '本行賣出']],
           codes=[[4, 4, 3, 5, 5, 0], [4, 5, 3, 6, 5, 6]])

In [8]:
df.head()

         掛牌日期                幣別    現金匯率         Unnamed: 5_level_0
         掛牌日期      本行買入      幣別    本行賣出    本行買入               本行賣出
0  2019/07/23  美金 (USD)  30.675  31.345  31.025             31.125
1  2019/07/22  美金 (USD)  30.675  31.345  31.025             31.125
2  2019/07/19  美金 (USD)  30.640  31.310  30.990             31.090
3  2019/07/18  美金 (USD)  30.665  31.335  31.015             31.115
4  2019/07/17  美金 (USD)  30.670  31.340  31.020             31.120

In [9]:
df.columns = ['掛牌日期', '幣別', '現金匯率-本行買入','現金匯率-本行賣出', '即期匯率-本行買入','即期匯率-本行賣出']

In [10]:
df.head()

         掛牌日期        幣別  現金匯率-本行買入  現金匯率-本行賣出  即期匯率-本行買入  即期匯率-本行賣出
0  2019/07/23  美金 (USD)     30.675     31.345     31.025     31.125
1  2019/07/22  美金 (USD)     30.675     31.345     31.025     31.125
2  2019/07/19  美金 (USD)     30.640     31.310     30.990     31.090
3  2019/07/18  美金 (USD)     30.665     31.335     31.015     31.115
4  2019/07/17  美金 (USD)     30.670     31.340     31.020     31.120

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 6 columns):
掛牌日期         119 non-null object
幣別           119 non-null object
現金匯率-本行買入    119 non-null float64
現金匯率-本行賣出    119 non-null float64
即期匯率-本行買入    119 non-null float64
即期匯率-本行賣出    119 non-null float64
dtypes: float64(4), object(2)
memory usage: 5.7+ KB

In [13]:
df['掛牌日期'] = pandas.to_datetime(df['掛牌日期'], format = '%Y/%m/%d')

In [15]:
df.set_index('掛牌日期', inplace=True)

In [17]:
df.sort_index(inplace=True)

In [18]:
df.head()

                  幣別  現金匯率-本行買入  現金匯率-本行賣出  即期匯率-本行買入  即期匯率-本行賣出
掛牌日期
2019-01-24  美金 (USD)      30.46      31.15      30.83      30.93
2019-01-25  美金 (USD)      30.40      31.09      30.77      30.87
2019-01-28  美金 (USD)      30.37      31.06      30.74      30.84
2019-01-29  美金 (USD)      30.39      31.08      30.76      30.86
2019-01-30  美金 (USD)      30.34      31.03      30.71      30.81

## 資料儲存

In [19]:
df.to_excel('rate.xlsx')

In [20]:
df.to_csv('rate.csv')

In [21]:
import sqlite3
with sqlite3.connect('rate.sqlite') as db:
    df.to_sql('rate', con = db , if_exists='replace')

In [23]:
import sqlite3
with sqlite3.connect('rate.sqlite') as db:
    df2 = pandas.read_sql_query('select * from rate', con = db)
df2.head()

                  掛牌日期        幣別  現金匯率-本行買入  現金匯率-本行賣出  即期匯率-本行買入  即期匯率-本行賣出
0  2019-01-24 00:00:00  美金 (USD)      30.46      31.15      30.83      30.93
1  2019-01-25 00:00:00  美金 (USD)      30.40      31.09      30.77      30.87
2  2019-01-28 00:00:00  美金 (USD)      30.37      31.06      30.74      30.84
3  2019-01-29 00:00:00  美金 (USD)      30.39      31.08      30.76      30.86
4  2019-01-30 00:00:00  美金 (USD)      30.34      31.03      30.71      30.81