## Python Basic

In [1]:
a = 3
b = 2
a + b

5

## 網路爬蟲

In [4]:
import requests
res = requests.get('https://rent.591.com.tw/?kind=0&region=1')

In [5]:
res

In [7]:
#res.text

In [10]:
import requests
res = requests.get('https://rent.591.com.tw/?kind=1&region=1&section=5')
#res.text

In [11]:
res = requests.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow=30&totalRows=789')
res.text

'<!DOCTYPE html>\n<html lang="en">\n    <head>\n        <meta charset="utf-8">\n        <meta http-equiv="X-UA-Compatible" content="IE=edge">\n        <meta name="viewport" content="width=device-width, initial-scale=1">\n\n        <title>Page Expired</title>\n\n        <!-- Fonts -->\n        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">\n\n        <!-- Styles -->\n        <style>\n            html, body {\n                background-color: #fff;\n                color: #636b6f;\n                font-family: \'Raleway\', sans-serif;\n                font-weight: 100;\n                height: 100vh;\n                margin: 0;\n            }\n\n            .full-height {\n                height: 100vh;\n            }\n\n            .flex-center {\n                align-items: center;\n                display: flex;\n                justify-content: center;\n            }\n\n            .position-ref {\n                position: relative;\n            }\n\n            .content {\n                text-align: center;\n            }\n\n            .title {\n                font-size: 36px;\n                padding: 20px;\n            }\n        </style>\n    </head>\n    <body>\n        <div class="flex-center position-ref full-height">\n            <div class="content">\n                <div class="title">\n                        The page has expired due to inactivity.\n    <br/><br/>\n    Please refresh and try again.\n                </div>\n            </div>\n        </div>\n    </body>\n</html>\n'

In [14]:
import requests
from bs4 import BeautifulSoup
rs = requests.session()
res = rs.get('https://rent.591.com.tw/?kind=1&region=1&section=5')
soup = BeautifulSoup(res.text, 'lxml')
token = soup.select_one('meta[name="csrf-token"]')['content']

In [15]:
token

'xNN9wP3LIgiG3hKIrXTkMhFBdM6kxqYh1xWl2yUV'

In [18]:
headers = {
'X-CSRF-TOKEN': token,
'X-Requested-With': 'XMLHttpRequest'    
    
}

apiurl = 'https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow=30&totalRows=789'
res = rs.get(apiurl, headers = headers)
jd = res.json()

## 資料清理

In [22]:
import pandas
df = pandas.DataFrame(jd['data']['data'])
df.head()

,addInfo,addition2,addition3,addition4,addr_number_name,address,address_img,address_img_title,alley_name,allfloor,...,storeprice,street_name,streetid,type,unit,updatetime,user_id,vipBorder,vipimg,vipstyle
0,"<img src=""./images/index/userCenter/list_vip_v...",0,0,0,,信義路四段265巷信義安和..,信義安和站.走路5分鐘.通化街口,信義安和站.走路5分鐘.通化街口,265巷,7,...,0,信義路四段,25648,1,元/月,1558793596,2550832,vipStyle,"<img src=""./images/index/userCenter/list_vip_v...",isvip
1,"<img src=""./images/index/userCenter/list_vip_v...",0,0,0,,安和路二段信義安和.樹海..,信義安和.樹海名宅.品味設計.氣派釋出,信義安和.樹海名宅.品味設計.氣派釋出,,25,...,0,安和路二段,25625,1,元/月,1557453513,2178922,vipStyle,"<img src=""./images/index/userCenter/list_vip_v...",isvip
2,"<img src=""./images/index/userCenter/list_vip_v...",0,0,0,,羅斯福路三段333巷台大公..,台大公館雙捷運2房2廳屋主自租,台大公館雙捷運2房2廳屋主自租,333巷,4,...,0,羅斯福路三段,25680,1,元/月,1558352425,2406277,vipStyle,"<img src=""./images/index/userCenter/list_vip_v...",isvip
3,"<img src=""./images/index/userCenter/list_vip_v...",0,0,0,,忠孝東路三段248巷..,捷運忠孝復興一分鐘溫馨三房,捷運忠孝復興一分鐘溫馨三房,248巷,5,...,0,忠孝東路三段,25636,1,元/月,1558857906,2646031,vipStyle,"<img src=""./images/index/userCenter/list_vip_v...",isvip
4,"<img src=""./images/index/userCenter/list_vip_v...",0,0,0,4號,和平東路二段107巷陽光充..,陽光充足空氣流通，臨近捷運、大安森林公園,陽光充足空氣流通，臨近捷運、大安森林公園,107巷,5,...,0,和平東路二段,25633,1,元/月,1558056724,2227032,vipStyle,"<img src=""./images/index/userCenter/list_vip_v...",isvip

In [24]:
df = df[['address', 'floor', 'allfloor', 'layout', 'area', 'price', 'browsenum_all']]
df.head()

           address  floor  allfloor  layout  area    price  browsenum_all
0  信義路四段265巷信義安和..      4         7  4房1廳3衛  36.0   80,000             43
1   安和路二段信義安和.樹海..      6        25  3房2廳2衛  62.5  119,999            268
2  羅斯福路三段333巷台大公..      3         4  2房2廳1衛  20.0   32,800           1450
3     忠孝東路三段248巷..      5         5  3房2廳1衛  30.0   29,900            622
4  和平東路二段107巷陽光充..      5         5  2房1廳1衛  16.0   17,000           2552

In [25]:
?df.head

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
address          30 non-null object
floor            30 non-null int64
allfloor         30 non-null int64
layout           30 non-null object
area             30 non-null float64
price            30 non-null object
browsenum_all    30 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.7+ KB

In [28]:
n = '80,000'
int(n.replace(',', ''))

80000

In [29]:
def convert(n):
    return int(n.replace(',', ''))

n = '119,000'
convert(n)

119000

In [33]:
df['price'] = df['price'].map(lambda e: int(e.replace(',', '')))

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
address          30 non-null object
floor            30 non-null int64
allfloor         30 non-null int64
layout           30 non-null object
area             30 non-null float64
price            30 non-null int64
browsenum_all    30 non-null int64
dtypes: float64(1), int64(4), object(2)
memory usage: 1.7+ KB

In [35]:
df.head()

           address  floor  allfloor  layout  area   price  browsenum_all
0  信義路四段265巷信義安和..      4         7  4房1廳3衛  36.0   80000             43
1   安和路二段信義安和.樹海..      6        25  3房2廳2衛  62.5  119999            268
2  羅斯福路三段333巷台大公..      3         4  2房2廳1衛  20.0   32800           1450
3     忠孝東路三段248巷..      5         5  3房2廳1衛  30.0   29900            622
4  和平東路二段107巷陽光充..      5         5  2房1廳1衛  16.0   17000           2552

In [37]:
df[['layout_bedroom','layout_livingroom', 'layout_bathroom']] = df['layout'].str.extract('(\d+)房(\d+)廳(\d+)衛')

In [38]:
df.head()

,address,floor,allfloor,layout,area,price,browsenum_all,layout_bedroom,layout_livingroom,layout_bathroom
0,信義路四段265巷信義安和..,4,7,4房1廳3衛,36.0,80000,43,4,1,3
1,安和路二段信義安和.樹海..,6,25,3房2廳2衛,62.5,119999,268,3,2,2
2,羅斯福路三段333巷台大公..,3,4,2房2廳1衛,20.0,32800,1450,2,2,1
3,忠孝東路三段248巷..,5,5,3房2廳1衛,30.0,29900,622,3,2,1
4,和平東路二段107巷陽光充..,5,5,2房1廳1衛,16.0,17000,2552,2,1,1

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
address              30 non-null object
floor                30 non-null int64
allfloor             30 non-null int64
layout               30 non-null object
area                 30 non-null float64
price                30 non-null int64
browsenum_all        30 non-null int64
layout_bedroom       30 non-null object
layout_livingroom    30 non-null object
layout_bathroom      30 non-null object
dtypes: float64(1), int64(4), object(5)
memory usage: 2.4+ KB

In [40]:
df['layout_bedroom'] = df['layout_bedroom'].astype(int)
df['layout_livingroom'] = df['layout_livingroom'].astype(int)
df['layout_bathroom'] = df['layout_bathroom'].astype(int)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
address              30 non-null object
floor                30 non-null int64
allfloor             30 non-null int64
layout               30 non-null object
area                 30 non-null float64
price                30 non-null int64
browsenum_all        30 non-null int64
layout_bedroom       30 non-null int32
layout_livingroom    30 non-null int32
layout_bathroom      30 non-null int32
dtypes: float64(1), int32(3), int64(4), object(2)
memory usage: 2.1+ KB

In [42]:
df.head()

,address,floor,allfloor,layout,area,price,browsenum_all,layout_bedroom,layout_livingroom,layout_bathroom
0,信義路四段265巷信義安和..,4,7,4房1廳3衛,36.0,80000,43,4,1,3
1,安和路二段信義安和.樹海..,6,25,3房2廳2衛,62.5,119999,268,3,2,2
2,羅斯福路三段333巷台大公..,3,4,2房2廳1衛,20.0,32800,1450,2,2,1
3,忠孝東路三段248巷..,5,5,3房2廳1衛,30.0,29900,622,3,2,1
4,和平東路二段107巷陽光充..,5,5,2房1廳1衛,16.0,17000,2552,2,1,1

In [44]:
#del df['layout']
df.drop('layout', axis = 1, inplace=True)

In [45]:
df.head()

,address,floor,allfloor,area,price,browsenum_all,layout_bedroom,layout_livingroom,layout_bathroom
0,信義路四段265巷信義安和..,4,7,36.0,80000,43,4,1,3
1,安和路二段信義安和.樹海..,6,25,62.5,119999,268,3,2,2
2,羅斯福路三段333巷台大公..,3,4,20.0,32800,1450,2,2,1
3,忠孝東路三段248巷..,5,5,30.0,29900,622,3,2,1
4,和平東路二段107巷陽光充..,5,5,16.0,17000,2552,2,1,1

## 資料儲存

In [46]:
df.to_csv('rent591.csv')

In [47]:
df.to_excel('rent591.xlsx')

In [48]:
import sqlite3
with sqlite3.connect('house.sqlite') as db:
    df.to_sql('renthouse', con = db)

In [51]:
with sqlite3.connect('house.sqlite') as db:
    df2= pandas.read_sql_query('select * from renthouse order by price desc ', con = db)
df2

,index,address,floor,allfloor,area,price,browsenum_all,layout_bedroom,layout_livingroom,layout_bathroom
0,1,安和路二段信義安和.樹海..,6,25,62.5,119999,268,3,2,2
1,20,仁愛路四段百吉書香名宅(..,5,17,76.4,108000,441,5,2,3
2,0,信義路四段265巷信義安和..,4,7,36.0,80000,43,4,1,3
3,29,大安路二段122巷大安靜巷..,4,7,45.0,78000,500,2,2,2
4,5,大安路二段122巷敦南商圈..,7,7,35.2,65000,439,3,2,2
5,19,信義路二段*近中正纪念堂..,3,14,52.0,65000,465,3,2,2
6,9,忠孝東路四段170巷神旺後..,4,10,47.8,63000,42,4,2,2
7,28,安和路二段74巷漂亮安和電..,6,7,46.4,62000,128,4,2,2
8,15,辛亥路二段台大旁明亮綠蔭..,2,26,58.1,60000,565,3,2,2
9,12,仁愛路四段27巷大安..,5,6,40.0,59000,629,2,2,2
10,21,光復南路MRT信義安和.全..,6,14,32.1,57000,349,2,2,1
11,13,敦化南路一段190巷敦南SO..,3,4,32.0,55000,536,3,2,1
12,10,敦化南路二段24H管理正面..,13,26,41.1,49800,122,2,2,2
13,18,敦化南路二段146巷敦南五..,3,19,35.0,49000,1383,3,2,2
14,11,羅斯福路二段101巷美樂*..,5,7,31.6,47999,88,3,2,1
15,24,仁愛路四段屋主自租~仁愛..,5,14,31.5,46000,946,3,2,2
16,7,和平東路一段住辦皆宜有管..,4,12,46.2,45000,430,3,2,2
17,17,光復南路國父紀念館正對面..,4,6,27.0,42500,800,2,1,1
18,27,復興南路一段捷運大安站/..,6,10,36.7,40000,1476,3,1,1
19,6,臥龍街大安硯2房：稀有露..,3,13,25.0,39800,1547,2,2,1
20,8,羅斯福路二段77巷師..,3,5,35.0,39000,8814,3,2,2
21,25,安和路一段78巷信義安和站..,3,4,35.0,35000,1590,3,2,1
22,16,敦化南路一段187巷忠孝敦..,3,7,11.9,34000,1893,2,1,1
23,2,羅斯福路三段333巷台大公..,3,4,20.0,32800,1450,2,2,1
24,3,忠孝東路三段248巷..,5,5,30.0,29900,622,3,2,1
25,26,復興南路二段111巷大安雙..,2,4,17.0,29800,1352,2,1,1
26,22,濟南路三段小房東*..,3,7,15.0,27000,4244,2,1,1
27,14,泰順街44巷師大時尚捷運兩..,3,4,20.0,25500,1620,2,1,1
28,23,永康街23巷近大安森..,6,6,15.0,18000,8027,2,1,1
29,4,和平東路二段107巷陽光充..,5,5,16.0,17000,2552,2,1,1